// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #f18444;
$green: #1EDD88;
$black: #1a1a1b;
$gray: #b9b9b9;
$white: #fbfbff;

$shadow: 2px 2px 6px rgba(251, 251, 255, 0.2);
