.show-box {
  flex-grow: 1;
  background: $white;
  padding: 0 16px 8px 16px;
  img {
    margin-top: 16px;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .card-desc {
    height: auto;
  }
}

.book-box {
  min-width: 480px;
}

.show-img .image_tag {
  width: 300px;
}

.booking_start_date {
  label {
    display: none;
  }
}

.booking_end_date {
  label {
    display: none;
  }
}

.input_field {
  padding: 8px 12px;
  border-radius: $border-radius;
  background-color: $gray;
  border: $border-primary;
  margin: 8px;
}

.pet_pet_type {
  label {
    display: none;
  }
}
.pet_name {
  label {
    display: none;
  }
}
.pet_age {
  label {
    display: none;
  }
}
.pet_description {
  label {
    display: none;
  }
}
.pet_address {
  label {
    display: none;
  }
}
.pet_rate {
  label {
    display: none;
  }
}
.pet_photo {
  label {
    display: none;
  }
}
