.show-box {
  flex-grow: 1;
  img {
    width: 100%;
  }
}

.book-box {
  min-width: 480px;
}

.show-img .image_tag {
  width: 300px;
}

.booking_start_date {
  label {
    display: none;
  }
}

.booking_end_date {
  label {
    display: none;
  }
}

.input_field {
  padding: 8px 12px;
  border-radius: $border-radius;
  background-color: $gray;
  border: $border-primary;
  margin: 8px;
}
