

<div class="container">
  <div class="form-center">
    <%= link_to "back to pet", pet_path, class: "my-btn container" %>
    <%= render "form", pet: @pet %>
    <%= link_to "back to pet", pet_path, class: "my-btn" %>
  </div>
</div>
