<h1 class="text-center">Pets</h1>
<p></p>

<div class="d-flex w-100">
  <div class="cardes">
    <%= render 'shared/card', pets: @pets %>

  </div>
  <div id="map" >
    <%#= image_tag "Map.jpg" %>
  </div>

</div>


      <%# <%= link_to 'Show', pet %>
      <%#<%= link_to "destroy_pet", pet_path(pet), method: :delete, data: { confirm: "You sure?" } %>
