<h1 class="text-center">New booking</h1>
<div class="container">
  <%= simple_form_for([@pet, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
