<h1 class="text-center mt-3">Welcome to your profile page</h1>

<div class="container">
  <div class="profile">
    <div class="bg-black pe-3">
      <% unless current_user.photo.key.nil? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-large"%>
      <% end %>
    </div>

    <div class="profile-infos mx-3 px-3">
      <h2>Username: <%= current_user.username %></h2>
      <h3>Email: <%= current_user.email %></h3>
    </div>
  </div>

  <div class="bookings">
    <%= render 'shared/booking', bookings: @bookings %>
  </div>
</div>
