<h1 class="text-center">Welcome to your profile page</h1>

<div class="container">
  <div class="profile">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
    <div class="profile-infos">
      <h2>Profile name</h2>
      <h3><%= @username %></h3>
      <p>Small description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="pet-descrition">
    <h3>Bookings</h3>
    <p>This is the <strong>list</strong> of all my pets.</p>
  </div>
</div>
