<div class="container">
<h1 class="text-center">Welcome to your profile page</h1>
  <div class="profile">
    <img class="avatar-large" alt="avatar-large" src="https://www.petplace.com/static/d4eb1d31d9e22d830a0097e3e8dcdf3d/98569/AdobeStock_142438416.jpg" />
    <div class="profile-infos">
      <h2>Profile name</h2>
      <h3><%= @username %></h3>
      <p>Small description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
