<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "pet_1", class: "d-block w-100", alt: "First slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "pet_1", class: "d-block w-100", alt: "Second slide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "pet_1", class: "d-block w-100", alt: "Third slide" %>
    </div>
  </div>
</div>
