
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/e8/fe/d8/e8fed8ffd6f039286f0ff57ae888999d.jpg);">
  <div class="container">
    <p>
      Owning a dog can be quite a challenge for some,
      especially if your schedule is super busy or you have to travel a lot.
      PETS2GO allows people to search for pets for rent or simply list their pet.
      It helps connect all kind of animals, owners and borrowers who just want some company.
    </p>
  </div>
</div>

  <h2 class="text-center mt-3">Trending pets</h2>


<div class="cards">
  <%= render 'shared/home-card', pets: @pets %>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
