
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/e8/fe/d8/e8fed8ffd6f039286f0ff57ae888999d.jpg);">
  <div class="container">
    <h1>PETS2GO</h1>
    <p>
      Owning a dog can be quite a challenge for some,
      especially if your schedule is super busy or you have to travel a lot.
      PET2GO allows people to search for pets for rent or simply list their pet.
      It helps connect all kind of animals, owners and borrowers who just want some company.
    </p>

    <%= link_to "List pet", new_pet_path, class: "btn btn-ghost" %>
  </div>
</div>

  <h2 class="text-center">Trending pets</h2>


<div class="cards">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://ggsc.s3.amazonaws.com/images/uploads/The_Science-Backed_Benefits_of_Being_a_Dog_Owner.jpg)">
    Please take me!!
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_teaser_image/2021-05/snake-3979601_1920.jpg?itok=tw3B0pYY)">
    Looking for a friend
  </div>

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.wsj.net/im-355811?width=1280&size=1)">
    How you douing
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
