.cards{
  width: auto;

}

.carde{
  background-color: $white;
  display: flex;
  justify-content: start;
  align-items: center;
  color: $black;
  height: 256px;
  width: 768px;
  img{
    height: 100%;
    object-fit: cover;
    width: 256px;
    padding: 8px;
  }
}

.card-info{
  padding: 8px 16px;
}
