.cardes{
  width: 640px;
  margin: 16px;
}

.carde{
  text-decoration: none;
  background-color: $white;
  display: flex;
  color: $black;
  height: 256px;
  margin-bottom: 16px;
  img{
    height: 100%;
    object-fit: cover;
    width: 256px;
    padding: 8px 0px 8px 8px;
  }
}

.card-name{
  margin: 0;
}

.card-info{
  padding: 0 16px;
  flex-grow: 1;
}


.card-name {
  background-color: $black;
  color: $white;
  padding: 24px 16px 8px 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  span{
    color: $orange;
    font-size: 1.2em;
  }
}

.card-title{
  padding: 8px 0 0 0;
  @include border-light;

}

.card-desc{
  width: fit-content;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 64px;
  font-size: 0.9em;
  color: $dark-gray;
  background: $gray;
  padding: 8px 12px;
  border-left: 3px solid $dark-gray;
}

.card-rate {
  font-weight: bold;
  color: $dark-gray;
  margin-top: 14px;
  span{
    background:$orange;
    color: $white;

    padding: 6px 8px;
    margin-right: 2px;
  }
}
