.form-center {
  border-radius: $border-radius;
  background-color: $white;
  color: $orange;
  width: fit-content;
  padding: 34px 38px;
  margin: 0 auto;
  box-shadow: $shadow;
}

.new_booking {
  border-radius: $border-radius;
  background: $white;
  padding: 0 16px 16px 16px;
  color: $orange;
  margin: 0 auto;
  box-shadow: $shadow;
  input {
    text-decoration: done;
    padding: 10px 14px;
    background: $black;
    color: $white;
    border: none;
    font-weight: bold;
    border-radius: $border-radius-lg 0 $border-radius-lg 0;
  }

  h1 {
    background-color: $black;
    color: $white;
    padding: 24px 16px 8px 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    span {
      color: $orange;
      font-size: 1.2em;
    }
  }
}

.form-title {
  color: $orange;
}
