.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map{
  flex-grow: 1;
  margin: 16px 0 16px 16px;
  // height: auto;
  // margin: 16px;
  // object-fit: cover;
  height: 100vh;
  border: $border_primary;
}
