.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: $white;
  box-shadow: $shadow;
  text-align: center;
  margin-bottom: 16px;
}

// .profile{
//   h2, h3{
//     font-size: 16px;
//     font-weight: bold;
//     margin: 0;
//     color: $black;
//   }
// }

// .profile p, .pet-descrition p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 10px;
//   margin-top: 8px;
//   color: black;
// }

// .pet-descrition {
//   flex-grow: 1;
//   margin: 0 20px;
//   width: 260px;
//   background: $white;
//   box-shadow: $shadow;
//   text-align: center;
// }
